body{
  margin: 0;
  background-color: #212121;
  overflow: hidden;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}
.main-content{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  top: 50%;
  left: 50%;
  transform: translate(0%,-50%);
  left: 0;
  transition: all 0.2s ease;
  z-index: 3;
}
.main-content-button_enter{
  width: 300px;
  height: 50px;
  color: #212121;
  border: 1.5px solid #212121;
  position: absolute;
  text-align: center;
  line-height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 0.2s ease;
  cursor: pointer;
}
.main-content-button_enter:hover{
  background-color:#212121;
  color: #FFFFFF;
}
.main-content-button_close{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  color: #1565C0;
  cursor: pointer;
  z-index: 2;
}
.main-menu{
  position: absolute;
  z-index: 1;
  font-size: 3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.main-menu-list{
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-menu-list-item{
  opacity: 0;
  transition: all 1s ease;
}

.main-menu-list-item_link{
  text-decoration: none;
  color: #1565C0;
}
.open{
  left: -90%;
  height: 90vh;
}

.open-li {

}

.main-menu-list-item.open-li{
  opacity: 1;
}
