body{
  margin: 0;
  background-color: #212121;
  overflow: hidden;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}
.main-content{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(0%,-50%);
  left: 0;
  transition: all 0.2s ease;
  z-index: 2;
}
.main-menu{
  position: absolute;
  z-index: 1;
  font-size: 3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.main-menu-list{
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-menu-list li{
  opacity: 0;
  transition: all 1s ease;
}

.main-menu-list li a{
  text-decoration: none;
  color: #1565C0;
}
.open{
  left: -90%;
  height: 90vh;
}

.open-li {

}

.main-menu-list-item.open-li{
  opacity: 1;
}
